* {
  margin: 0;
  list-style: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* outline: 2px solid greenyellow; */
}

.wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.sidebar {
  padding: 15px;
  width: 20%;
  background-color: #040b14;
  position: sticky;
  top: 0;
  height: 100vh;
}

.main {
  max-width: 80%;
  background-color: #effded;
}

.main > div:nth-child(2n + 1) {
  background-color: #f0f0f0;
}

ul > li > a {
  text-decoration: none;
  color: white;
  border-radius: 20%;
  opacity: 0.7;
}

ul > li > a:hover {
  opacity: 1;
  transition: 0.3s;
}

.profile-pic {
  margin: auto;
}

.social {
  margin: 0 40px;
}

.info-social > li > a {
  /* border: 1px solid red;
        border-radius: 50%; */
}

.info-content {
  height: 40vh;
}

.location {
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
}

.contact-form {
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
}

.main > div:not(:nth-of-type(1)) {
  padding: 6%;
}

.img-home {
  position: relative;
  text-align: center;
  color: white;
}

.welcome {
  position: absolute;
  top: 40%;
  left: 15%;
}

#bg-main {
  filter: brightness(30%);
  width: 100%;
  height: 100%;
}
